*{
font-family: 'DM Sans', sans-serif;
}    
.izquierda{
    text-align: left;
}
.centrar{
    align-items: center

}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.white{
    background-color: white;
}
.videoDAO{
    display: block;
    width: 100%;
    height: 505px;
}
.negro{
    color: black;
}
a.color-blue {
    color: #666fe2;
}
a.color-blue:hover {
    color:  #1018E4;
}
textarea.form-control {
    min-height: 5rem;
}
