*{
font-family: 'DM Sans', sans-serif;
}    
.izquierda{
    text-align: left;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.white{
    background-color: white;
}
.negro{
    color: black;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a.color-blue {
    color: #666fe2;
}
a.color-blue:hover {
    color:  #1018E4;
}
.modal p,
.modal ol {
    text-align: justify;
}
textarea.form-control {
    min-height: 5rem;
}
.btn-primary {
    color: #333333;
}
.btn-primary:hover {
    color: black;
}
#portfolio .container-fluid .portfolio-box {
    cursor: pointer;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    opacity: 1;
    background: none;
}
.project-name {
    background-color: #DCE44B;
    padding: 1.25rem 2.25rem;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
    font-size: 0.85rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    background: hsla(60, 60%, 71%, .5)
}
#portfolio .container-fluid .portfolio-box:hover .project-name {
    color: black;
    background-color: #E2E28A;
    border-color: #E2E2C0;
}
